<div ng-switch on="showDetail">
	<!-- List Content. -->
	<div ng-switch-when="false">
		<div class="feedConfigTypeGridStyle" ng-grid="feedConfigTypeGridOptions">
		</div>
	</div>
	<div ng-switch-when="true">
	<form ng-submit="submit()" ng-controller="FeedConfigTypeLayoutController">
		{{detailType}}
	  <div id="availableList">
		<h2>Available List</h2>
            <ul class="thumbnails">
              <li class="span3" >
                <div class="thumbnail" data-drop="true" ng-model='detailAvailableRowSchemaArray' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=detailAvailableRowSchemaArray])'}"  jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div class="btn btn-info btn-draggable" ng-repeat="item in detailAvailableRowSchemaArray" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="detailAvailableRowSchemaArray" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                  </div>
                </div>
              </li>
            </ul>
	  </div>
	  
	  <div id="selectedList">
		<h2>Selected List</h2>
            <ul class="thumbnails">
              <li>
                <div class="thumbnail" data-drop="true" ng-model='detailSelectedRowSchemaArray' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=detailSelectedRowSchemaArray])'}"  jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div class="btn btn-info btn-draggable" ng-repeat="item in detailSelectedRowSchemaArray" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="detailSelectedRowSchemaArray" jqyoui-draggable="{index: {{$index}},animate:true}">
					{{item.title}}
					</div>
                  </div>
                </div>
              </li>
            </ul>
	  </div>
	  
	  <div id="requiredList">
		<h2>Required List</h2>
            <ul class="thumbnails">
              <li>
                <div class="thumbnail" data-drop="true" ng-model='detailAvailableRowKeySchemaArray' data-jqyoui-options="{accept:'.btn-draggable:not(false)'}"  jqyoui-droppable="{multiple:false}">
                  <div class="caption">
                    <div class="btn btn-info btn-draggable" ng-repeat="item in detailAvailableRowKeySchemaArray" ng-show="item.title" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" ng-model="detailAvailableRowKeySchemaArray" jqyoui-draggable="{index: {{$index}},animate:true}">
					{{item.title}}
					</div>
                  </div>
                </div>
              </li>
            </ul>
	  </div>
		<input class="btn" type="submit" id="submit" value="Submit" ng-disabled="!enableSubmit" required />
	</form>
	</div>
</div>
		